# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
RFCEurope/CvGameCoreDLL/Final_Release/_precompile.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvArea.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvArtFileMgr.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvCity.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvCityAI.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvDeal.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvDiploParameters.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvDLLButtonPopup.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvDLLEntity.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvDLLPython.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvDllPythonEvents.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvDllTranslator.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvDLLWidgetData.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvEventReporter.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvFractal.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvGame.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvGameAI.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvGameCoreDLL.def
RFCEurope/CvGameCoreDLL/Final_Release/CvGameCoreDLL.dll
RFCEurope/CvGameCoreDLL/Final_Release/CvGameCoreDLL.exp
RFCEurope/CvGameCoreDLL/Final_Release/CvGameCoreDLL.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvGameCoreDLL.pch
RFCEurope/CvGameCoreDLL/Final_Release/CvGameCoreDLL.pdb
RFCEurope/CvGameCoreDLL/Final_Release/CvGameCoreUtils.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvGameInterface.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvGameTextMgr.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvGlobals.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvHallOfFameInfo.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvInfos.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvInfoWater.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvInitCore.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvMap.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvMapGenerator.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvMessageControl.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvMessageData.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvPlayer.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvPlayerAI.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvPlot.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvPlotGroup.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvPopupInfo.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvPopupReturn.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvRandom.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvReplayInfo.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvReplayMessage.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvRhyes.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvSelectionGroup.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvSelectionGroupAI.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvStatistics.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvStructs.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvTalkingHeadMessage.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvTeam.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvTeamAI.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvUnit.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvUnitAI.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvXMLLoadUtility.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvXMLLoadUtilityGet.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvXMLLoadUtilityInit.obj
RFCEurope/CvGameCoreDLL/Final_Release/CvXMLLoadUtilitySet.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyArea.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyAreaInterface.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyArgsList.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyArtFileMgr.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyArtFileMgrInterface.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyCity.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyCityInterface1.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyDeal.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyEnumsInterface.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyGame.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyGameCoreUtils.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyGameCoreUtilsInterface.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyGameInterface.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyGameTextMgr.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyGameTextMgrInterface.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyGlobalContext.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyGlobalContextInterface1.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyGlobalContextInterface2.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyGlobalContextInterface3.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyGlobalContextInterface4.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyGlobalContextInterface5.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyHallOfFameInfo.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyHallOfFameInterface.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyInfoInterface1.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyInfoInterface2.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyInfoInterface3.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyMap.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyMapGenerator.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyMapGeneratorInterface.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyMapInterface.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyMessageControl.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyMessageControlInterface.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyPlayer.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyPlayerInterface1.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyPlayerInterface2.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyPlot.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyPlotInterface1.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyRandomInterface.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyReplayInfo.obj
RFCEurope/CvGameCoreDLL/Final_Release/CySelectionGroup.obj
RFCEurope/CvGameCoreDLL/Final_Release/CySelectionGroupInterface.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyStructsInterface1.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyTeam.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyTeamInterface.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyUnit.obj
RFCEurope/CvGameCoreDLL/Final_Release/CyUnitInterface1.obj
RFCEurope/CvGameCoreDLL/Final_Release/FAssert.obj
RFCEurope/CvGameCoreDLL/Final_Release/FDialogTemplate.obj
RFCEurope/CvGameCoreDLL/.vs/ProjectSettings.json
RFCEurope/CvGameCoreDLL/.vs/slnx.sqlite
RFCEurope/CvGameCoreDLL/.vs/CvGameCoreDLL/v16/.suo
RFCEurope/CvGameCoreDLL/.vs/CvGameCoreDLL/v16/Browse.VC.db
RFCEurope/CvGameCoreDLL/.vs/CvGameCoreDLL/v16/Browse.VC.db-shm
RFCEurope/CvGameCoreDLL/.vs/CvGameCoreDLL/v16/Browse.VC.db-wal
RFCEurope/CvGameCoreDLL/.vs/CvGameCoreDLL/v16/Browse.VC.opendb
RFCEurope/CvGameCoreDLL/.vs/CvGameCoreDLL/v16/ipch/AutoPCH/58808c87d328cd7f/CVDLLTRANSLATOR.ipch
RFCEurope/CvGameCoreDLL/.vs/CvGameCoreDLL/v16/ipch/AutoPCH/67f4d4644ac340a6/CVPLOT.ipch
RFCEurope/CvGameCoreDLL/.vs/CvGameCoreDLL/v16/ipch/AutoPCH/952adae180486836/CVCITY.ipch
RFCEurope/CvGameCoreDLL/.vs/
